*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0076B4;
}
.calculadora{
    background-color: #4F504D;
    padding: 1rem;
    border-radius: 1rem;
}
.calculadora input{
    background-color: #2F2F2F;
    border: none;
    padding: 0.5rem;
    font-size: 2em;
    color: white;
    border-radius: 0.5rem;
    height: 2.5rem;
    text-align: right;
}
.calculadora button{
    font-size: 1.6em;
    color: white;
    border-radius: 1.5rem;
    width: 4rem;
    height: 3rem;
    border: none;
    cursor: pointer;
}
.numbers{
    background-color: #8D8D8D;
}
.numbers:hover{
    background-color: #acabab;
}
.operadores{
    background-color: #757575;
}
.operadores:hover, .operadores:focus{
    background-color: #acabab;
}
.del{
    background-color: #6e6e6e;
}
.del:hover,*/.del:focus{
    background-color: #acabab;
}
.clear-res{
    background-color: #E5853F;
}
.clear-res:hover, .clear-res:focus{
    background-color: #e49964;
}
h1{
    font-size: 3em;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
    
}
